/* Coolors Exported Palette - coolors.co/52489c-4062bb-59c3c3-ebebeb-f45b69 */

/* HSL */
$color1: hsla(247%, 37%, 45%, 1);
$color2: hsla(223%, 49%, 49%, 1);
$color3: hsla(180%, 47%, 56%, 1);
$color4: hsla(0%, 0%, 92%, 1);
$color5: hsla(355%, 87%, 66%, 1);

/* RGB */
$purple: rgba(82, 72, 156, 1);
$blue: rgba(64, 98, 187, 1);
$lightblue: rgba(89, 195, 195, 1);
$whitehrey: rgba(235, 235, 235, 1);
$red: rgba(244, 91, 105, 1);
$main-gradient: -webkit-linear-gradient(#290a59, #ff7c00);
$alternate-gradient: -webkit-linear-gradient(90deg, #290a59, #ff7c00);